body > .container {
  padding: 60px 15px 0;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.cards {
  margin: 0px;
  padding: 0px;
}
.cards li {
  list-style: none;
  margin-bottom: 8px;
  height: 80px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.cards .cards-image,
.cards .cards-content {
  display: inline-block;
  float: left;
}
.cards .cards-image {
  width: 80px;
}
.cards .cards-image img {
  border-radius: 4px 0 0 4px;
}
.cards .cards-content {
  width: calc(100% - 80px);
  height: 80px;
  background: #F0F0F0;
  padding: 5px 10px;
  border-radius: 0 4px 4px 0;
}
.example {
  background-color: #ffffff;
  border-color: #dddddd;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 45px 15px 15px;
  margin: 0px 0px 15px;
}
.example:after {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: 'Example';
}

.dropdown-box {
  position: relative;
  display: inline-block;
}
.dropdown-box .dropdown-box-button:focus {
  outline: 0;
}
.dropdown-box .dropdown-box-content {
  display: block;
  position: absolute;
  z-index: 1060;
  padding: 1px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  background-color: #e5e5e5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.15);
  width: 326px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}
.dropdown-box .dropdown-box-content .dropdown-box-header {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #e5e5e5;
  border-radius: 5px 5px 0 0;
}
.dropdown-box .dropdown-box-content .dropdown-box-header h4 {
  color: #666;
  text-align: center;
}
.dropdown-box .dropdown-box-content .dropdown-box-body {
  padding: 9px 14px;
  overflow: hidden;
}
.dropdown-box .dropdown-box-content > .arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 11px solid transparent;
}
.dropdown-box .dropdown-box-content > .arrow:after {
  border: 10px solid transparent;
  content: " ";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
.dropdown-box .dropdown-box-content.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.2);
  border-left-width: 0;
}
.dropdown-box .dropdown-box-content.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #e5e5e5;
  border-left-width: 0;
}
.dropdown-box .dropdown-box-content.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.2);
  border-right-width: 0;
}
.dropdown-box .dropdown-box-content.left > .arrow:after {
  bottom: -10px;
  left: -11px;
  content: " ";
  border-left-color: #e5e5e5;
  border-right-width: 0;
}
.dropdown-box .dropdown-box-content.bottom > .arrow {
  top: 0px;
  left: calc(50% - 11px);
  margin-top: -11px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-top-width: 0;
}
.dropdown-box .dropdown-box-content.bottom > .arrow:after {
  top: 1px;
  left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #e5e5e5;
}
.dropdown-box .dropdown-box-content.top > .arrow {
  bottom: -11px;
  left: calc(50% - 11px);
  margin-top: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 0;
}
.dropdown-box .dropdown-box-content.top > .arrow:after {
  bottom: 1px;
  left: -10px;
  content: " ";
  border-bottom-width: 0;
  border-top-color: #e5e5e5;
}
.dropdown-box .dropdown-box-content.mouseover:before {
  content: '';
  display: block;
  position: absolute;
}
.dropdown-box .dropdown-box-content.bottom.mouseover:before {
  width: 100%;
  height: 12px;
  top: -12px;
}
.dropdown-box .dropdown-box-content.left.mouseover:before {
  width: 12px;
  height: 100%;
  right: -12px;
}
.dropdown-box .dropdown-box-content.right.mouseover:before {
  width: 12px;
  height: 100%;
  left: -12px;
}
.dropdown-box .dropdown-box-content.top.mouseover:before {
  width: 100%;
  height: 12px;
  bottom: -12px;
}
.dropdown-box.in .dropdown-box-content {
  opacity: 1;
  visibility: visible;
}
